Repository MysticalFaceLesS/Shiptest, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MrCat15352, @molnizz, @MysticalFaceLesS

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Teams

# Code Maintainers

# MrCat15352

/strings/ @MrCat15352
/tgui/ @MrCat15352
/sound/ @MrCat15352
/code/ @MrCat15352
/mod_celadon/ @MrCat15352
/mod_celadon/_storge_sounds/ @MrCat15352
/**/*.dm @MrCat15352
/**/*.ogg @MrCat15352
/**/*.mp3 @MrCat15352

# Map Maintainers

# molnizz

/_maps/_mod_celadon/ @molnizz
/**/*.dmm @molnizz
/**/*.json @molnizz


# Sprite Maintainers

# MysticalFaceLesS

/mod_celadon/_storge_icons/ @MysticalFaceLesS
/**/*.dmi @MysticalFaceLesS

# MAINTAINERS

# MysticalFaceLesS

/tools/ @MysticalFaceLesS
/.github/ @MysticalFaceLesS
/SQL/ @MysticalFaceLesS
/bin/ @MysticalFaceLesS
/html/ @MysticalFaceLesS
/strings/ @MysticalFaceLesS
/tgui/ @MysticalFaceLesS
/code/modules/unit_tests/icons/ @MysticalFaceLesS


# CONTRIBUTORS

#SIC SEMPER TYRANNIS
#/_maps/RandomRuins/LavaRuins/lavaland_surface_sloth.dmm @MrCat15352

Великий порез синдиката
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_elegia.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
Owners: @molnizz

Забыл удалить комбат дефиб и ещё порезал деньги
  _maps/_mod_celadon/shuttles/syndicate/syndicate_elegia.dmm
Owners: @molnizz

Revert "Fix through shooting"
  code/modules/projectiles/projectile.dm
Owners: @MrCat15352

Вернул Хирургический стол на Кау, вернул декаль и сломанный хамелеон на Элегию
  _maps/_mod_celadon/shuttles/syndicate/syndicate_elegia.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
Owners: @molnizz

-
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_chariot.dmm
  _maps/_mod_celadon/shuttles/subshuttles/nanotrasen_rider.dmm
Owners: @molnizz

доп фикс
  _maps/_mod_celadon/shuttles/syndicate/syndicate_elegia.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
Owners: @molnizz

Old hivelord unique bodies
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord_outfits.dm
Owners: @MrCat15352

Oldminer with night mesons
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord_outfits.dm
Owners: @MrCat15352

почти закончил субб шаттл+расширил шариот
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_chariot.dmm
  _maps/_mod_celadon/shuttles/subshuttles/nanotrasen_rider.dmm
Owners: @molnizz

Промежуточный результат
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/base/multi_tile.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/base/overlays.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/glass/multi_tile.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/glass/overlays.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/metal/multi_tile.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/metal/overlays.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/station/atmos.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/station/command.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/station/engineering.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/station/maintenance.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/station/maintenanceexternal.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/station/overlays.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/station/public.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/station/security.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/station/solgov.dmi
  mod_celadon/large_doors/README.md
  mod_celadon/large_doors/_large_doors.dm
  mod_celadon/large_doors/_large_doors.dme
  mod_celadon/large_doors/code/large_doors.dm
  mod_celadon/mod_celadon.dme
Owners: @MysticalFaceLesS, @MrCat15352

Вносим исправленяи в карты аванпоста Элизиума, добавляем гейт, кнопки к ним а также приватизируем вендор минитменов к себе
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_20x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_40x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_40x40.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_56x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_56x40.dmm
Owners: @molnizz

Меняем доступ к радару lifeline на планшете на ЦК шный, временно. Хотите искать людей? Лучше звоните Сол Федерейшен ЦК!
  code/modules/modular_computers/file_system/programs/radar.dm
  mod_celadon/balance/README.md
Owners: @MrCat15352

Фиксим вест тактикал марин, снижаем статы, делая броню не похожей на дедовский вибраниум-наплакиум
  mod_celadon/balance/code/hardsuit.dm
  mod_celadon/balance/code/suit.dm
Owners: @MrCat15352

Приводим в порядок и обнаруживаем не включенный мод от Ганзы. Включаем хардкор+
  mod_celadon/balance/_balance.dme
Owners: @MrCat15352

Фиксим статы брони реплики, делая её нулевой как надо.
  mod_celadon/items/code/suits.dm
Owners: @MrCat15352

Убираем неиспользуемый вар
  code/modules/clothing/outfits/standard.dm
Owners: @MrCat15352

Фикс имена кнопок
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Owners: @molnizz

second try
  mod_celadon/large_doors/code/large_doors.dm
Owners: @MrCat15352

Правка баланса вестов
  mod_celadon/balance/code/suit.dm
Owners: @MrCat15352

Добавлено на полигон ЦК две пушки Сайга и СВД. Подвинуты все пушки
  _maps/_mod_celadon/map_files/generic/blank.dmm
Owners: @molnizz

Обновлено хранилище карана
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Owners: @molnizz

НАКОНЕЦ-ТО ГОТОВО!!! Надеюсь...
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_chariot.dmm
  _maps/_mod_celadon/shuttles/subshuttles/nanotrasen_rider.dmm
Owners: @molnizz

фикс? надеюсь
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_chariot.dmm
Owners: @molnizz

Замена ригов на даректе на ЛП риги
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
Owners: @molnizz

Шариот - фалсе, суббы - в другую сторону
  _maps/_mod_celadon/configs/nanotrasen_chariot.json
  mod_celadon/maps/code/subshuttles.dm
Owners: @molnizz, @MrCat15352
